--swift-version 6
--rules indent,wrapArguments,redundantSelf,numberFormatting,sortImports,blankLinesAtEndOfScope
--indent 4
--maxwidth 140
--wrap-collections before-first
--wrap-parameters before-first
--self insert
--decimalgrouping 3,3
--hexgrouping 4,8
--octalgrouping 4,8
--binarygrouping 4,8
--semicolons never
--ifdef no-indent
